@font-face {
    font-family: 'Ovo';
    src: url('Ovo.eot');
    src: url('Ovo.eot?#iefix') format('embedded-opentype'),
        url('Ovo.woff2') format('woff2'),
        url('Ovo.woff') format('woff'),
        url('Ovo.ttf') format('truetype'),
        url('Ovo.svg#Ovo') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body, html {
    position: relative;
    background: #FFFFFF;
    font-family: 'Ovo';
    color: black;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 220px;
    padding-left: 50px;
    padding-right: 50px;
} 
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: #FF0000;
}
a:active {
    color: black;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
.circle {
    background: #aaa;
    align-items: center;
    display: flex;
    height: 186px;
    width: 186px;
    justify-content: center;
}
.circle1 {
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 50%;
    box-sizing: border-box;
}
.circle2 {
    background: #FFF6F6;
    border: 2px solid #000000;
    border-radius: 50%;
    box-sizing: border-box;
}
.circle3 {
    background: #FFE3E3;
    border: 2px solid #000000;
    border-radius: 50%;
    box-sizing: border-box;
}
.circle4 {
    background: #FFC8C8;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 50%;
}
.circle5 {
    background: #FF9090;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 50%;
}
.circle6 {
    background: #FF4B4B;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 50%;
} 
h1 {
    font-family: Ovo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}
p {
    font-family: Times;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration-line: underline;
    color: #FF0000;
}
@media (max-width: 480px) {
    .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    padding-top: 70px;
    }
}