@font-face {
    font-family: 'Ovo';
    src: url('Ovo.eot');
    src: url('Ovo.eot?#iefix') format('embedded-opentype'),
        url('Ovo.woff2') format('woff2'),
        url('Ovo.woff') format('woff'),
        url('Ovo.ttf') format('truetype'),
        url('Ovo.svg#Ovo') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body, html {
    position: relative;
    width: 1440px;
    height: 900px;
    background: #FFFFFF;
    font-family: 'Ovo';
    color: black;
}
h1 {
    position: absolute;
    width: 645px;
    height: 277px;
    left: 410px;
    top: 552px;
    font-family: Ovo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}
p {
    position: absolute;
    width: 645px;
    height: 277px;
    left: 410px;
    top: 572px;
    font-family: Times;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration-line: underline;
    color: #FF0000;
}
.circle1 {
    position: absolute;
    width: 186px;
    height: 186px;
    left: 120px;
    top: 264px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 50%;
    box-sizing: border-box;
}
.circle2 {
    position: absolute;
    width: 186px;
    height: 186px;
    left: 324px;
    top: 264px;
    background: #FFF6F6;
    border: 2px solid #000000;
    border-radius: 50%;
    box-sizing: border-box;
}
.circle3 {
    position: absolute;
    width: 186px;
    height: 186px;
    left: 528px;
    top: 264px;
    background: #FFE3E3;
    border: 2px solid #000000;
    border-radius: 50%;
    box-sizing: border-box;
}
.circle4 {
    position: absolute;
    width: 186px;
    height: 186px;
    left: 732px;
    top: 264px;
    background: #FFC8C8;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 50%;
}
.circle5 {
    position: absolute;
    width: 186px;
    height: 186px;
    left: 936px;
    top: 264px;
    background: #FF9090;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 50%;
}
.circle6 {
    position: absolute;
    width: 186px;
    height: 186px;
    left: 1140px;
    top: 264px;
    background: #FF4B4B;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 50%;
}
h2 {
    position: absolute;
    width: 471px;
    height: 162px;
    left: 176px;
    top: 164px;
    font-family: Times;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 166px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
h3 {
    position: absolute;
    width: 471px;
    height: 162px;
    left: 362px;
    top: 137px;
    font-family: Times;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 166px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;    
}
h4 {
    position: absolute;
    width: 471px;
    height: 162px;
    left: 597px;
    top: 49px;
    font-family: Times;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 166px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
h5 {
    position: absolute;
    width: 471px;
    height: 162px;
    left: 787px;
    top: 28px;
    font-family: Times;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 166px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
h6 {
    position: absolute;
    width: 471px;
    height: 162px;
    left: 1003px;
    top: -98px;
    font-family: Times;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 166px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
h7 {
    position: absolute;
    width: 471px;
    height: 162px;
    left: 1193px;
    top: 237px;
    font-family: Times;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 166px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}