@font-face {
    font-family: 'Ovo';
    src: url('Ovo.eot');
    src: url('Ovo.eot?#iefix') format('embedded-opentype'),
        url('Ovo.woff2') format('woff2'),
        url('Ovo.woff') format('woff'),
        url('Ovo.ttf') format('truetype'),
        url('Ovo.svg#Ovo') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body, html {
    position: relative;
    width: 1440px;
    height: 900px;
    background: #FFFFFF;
    font-family: 'Ovo';
    color: black;
}
h1 {
    position: absolute;
    width: 645px;
    height: 277px;
    left: 398px;
    top: 63px;
    font-family: Ovo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}
p{
    position: absolute;
    width: 645px;
    height: 277px;
    left: 398px;
    top: 88px;
    font-family: Times;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration-line: underline;
    color: #FF0000;
}
.redtext {
    color: #FF0000;
}
.largetext {
    font-size: 36px;
    line-height: 40px;
}
.circle1 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1331px;
    top: 238px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 50%;
    box-sizing: border-box;
}
.circle2 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1389px;
    top: 358px;
    background: #FFF6F6;
    border: 2px solid #000000;
    border-radius: 50%;
    box-sizing: border-box;
}
.circle3 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1389px;
    top: 478px;
    background: #FFE3E3;;
    border: 2px solid #000000;
    border-radius: 50%;
    box-sizing: border-box;
}
.circle4 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1389px;
    top: 597px;
    background: #FFC8C8;
    border: 2px solid #000000;
    border-radius: 50%;
    box-sizing: border-box;
}
.circle5 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1389px;
    top: 716px;
    background: #FF9090;
    border: 2px solid #000000;
    border-radius: 50%;
    box-sizing: border-box;
}
.circle6 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1389px;
    top: 836px;
    background: #FF4B4B;
    border: 2px solid #000000;
    border-radius: 50%;
    box-sizing: border-box;
}
h2 {
    position: absolute;
    width: 471px;
    height: 162px;
    left: 1145px;
    top: 203px;
    font-family: Times;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 74px;
    text-align: center;
    color: #000000;
}
h3 {
    
}