@font-face {
    font-family: 'Ovo';
    src: url('Ovo.eot');
    src: url('Ovo.eot?#iefix') format('embedded-opentype'),
        url('Ovo.woff2') format('woff2'),
        url('Ovo.woff') format('woff'),
        url('Ovo.ttf') format('truetype'),
        url('Ovo.svg#Ovo') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body, html {
    position: relative;
    background: #FFFFFF;
    font-family: 'Ovo';
    color: black;
}
.flex-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.outer-container{
    display: flex;  
    flex-direction: row;
}
.flex-container2 {
    font-display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 50px;
    padding-right: 200px;
    font-family: 'Ovo';
    text-align: justify;
    font-size: 24px;
}
.flex-container3 {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-end;
    padding-right: 15px;
} 
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: #FF0000;
}
a:active {
    color: black;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
h1 {
    font-family: 'Ovo';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}
p{
    font-family: Times;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration-line: underline;
    color: #FF0000;
}
.redtext {
    color: #FF0000;
    
}
.whitetext {
    color: white;
}
.largetext {
    font-size: 36px;
    line-height: 40px;
}
.wrap {
    margin: 10px;
}
.container {
    display: inline-block;
    width: 100px;
}
.box {
    border-radius: 50%;
    height: 10px;
    margin: 10px;
    width: 10px;
}
.circle {
    background: #aaa;
    align-items: center;
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
}
.wrap:hover .box {
    transform: scale(1.25);
  }
.circle1 {
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 50%;
    box-sizing: border-box;
    transition: 300ms;
}
.circle2 {
    background: #FFF6F6;
    border: 2px solid #000000;
    border-radius: 50%;
    box-sizing: border-box;
    transition: 600ms;
}
.circle3 {
    background: #FFE3E3;;
    border: 2px solid #000000;
    border-radius: 50%;
    box-sizing: border-box;
    transition: 900ms;

}
.circle4 {
    background: #FFC8C8;
    border: 2px solid #000000;
    border-radius: 50%;
    box-sizing: border-box;
    transition: 1200ms;
}
.circle5 {
    background: #FF9090;
    border: 2px solid #000000;
    border-radius: 50%;
    box-sizing: border-box;
    transition: 1500ms;
}
.circle6 {
    background: #FF4B4B;
    border: 2px solid #000000;
    border-radius: 50%;
    box-sizing: border-box;
    transition: 1800ms;
}
h2 {
    font-family: Times;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 74px;
    text-align: center;
    color: #000000;
}
@media (max-width: 480px) {
    html, body {
        /* overflow-x: hidden; */
    }
    .largetext {
        font-size: 20px;
        line-height: normal;
    }
    .flex-container2 {
        font-display: flex;
        flex-wrap: wrap;
        justify-content: left;
        padding-left: 25px;
        padding-right: 50px;
        font-family: 'Ovo';
        text-align: justify;
        font-size: 12px;
    }
}